body{
    
    background-color: antiquewhite;
    margin: auto;
}

.navbar{
    
    background-color: #ECE9E9;
    padding-right: 50px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: larger;
    overflow: hidden; 
    margin: auto;
}

.navbar a.active{

    background-color:#FC8F54;
    padding: 5px;
    border-radius: 10px;
}

nav ul li{

    display:inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{

    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    
    color: #102d5c;
    font-size: x-large;
    transition: color 0.3s ease;
}

nav ul li a:active{

    background: none;
    color:#0082e6;
}

.logo{

    width:125px;
    margin-left: 30px;
}

a{

    text-decoration:none;
}

.bimage img {

    width: 100%;
    height:auto;
    opacity: 0.7;
    background-color: orangered;
    padding-bottom: 20px;
}

.background{
    
    display: flex;
    flex-wrap: wrap;
    background-color: #ff4400b0;
    padding-bottom: 20px;
}

.background p{

    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    font-size: xx-large;
}

.video {

    width: 50%;
    margin: auto;
}

.checkbtn {

    font-size: 22px;
    color: #FC8F54;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.closebtn {

    font-size: 22px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
  
#check {

    display: none;
    overflow: hidden;
}

@media(max-width: 890px){

    .logo{

        width: 100px;
    }

    .checkbtn{

        display: block;
    }

    .closebtn{

        display: flex;
        margin: 15px;
    }

    ul{
        position: fixed;
        min-width: 40%;
        height: 100%;
        top: 0;
        right: -1000%;
        text-align: center;
        transition: all .6s;
        background-color: #FC8F54;
        z-index: 100;
    }

    nav ul li{

        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{

        color: white;
        font-size: x-large;
    }

    nav ul li a:hover{

        color: #102d5c;
        transition: color 0.3s ease;
        font-size: xx-large;
    }

    .navbar a.active {
    
        background-color: #102d5c;
        color: white;
    }

    #check:checked~ul{
        right: 0;
    }
}

body{
    transition: overflow 0.3 ease;
}

.content{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    text-align: justify;
    gap: 20px;
}

.content p{

    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    line-height: 1.6;
    padding-top: 30px;
    margin: auto;
    width: 60%;
}

.content img {

    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 30px auto;
}

.block {

    width: 100%;
    display: inline-table;
    background-color: #f9f9f9;
    padding: 15px;
}

.block p{

    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
}

.block table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.block td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    overflow: hidden;
    justify-content: space-around;
    margin: auto;
}

#drinks{

    font-weight: bold;
    font-size: 18px;
    border-bottom: none;
    padding: 0px 0px;
}

.galleryText {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.galleryText img {

    padding-top: 15px;
    max-width: 400px;
    min-width: 0px;
    height: 100%;
}

.galleryText p {

    font-size: larger;
    padding-bottom: 50px;
}

.relative.overflow-hidden img {
    padding: 0;
}

.footer {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    font-size: larger;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    background-color: #2A3663;
}

.footer a {

    color: white;
    transition: color 0.3s ease;
}

.footer a:hover {

    color: #FC8F54;
}

.footer img {

    padding-right: 20px;
}
